<% provide(:title, @user.name) %>
<div class="row my-2">
  <aside class="col-md-4">
    <section class="card mt-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <%= gravatar_for @user %>
            <h1 class="d-inline-block mt-1">
              <%= @user.name %>
            </h1>
          </div>
          <div class="col">
            <%= render  "shared/stats" %>
          </div>
        </div>
        <%= render  "follow_form" if signed_in? %>
      </div>
    </section>
  </aside>
  <aside class="col-md-8 card card-body">
    <% if @user.microposts.any? %>
      <h3 class="display-4 text-center">Microposts (<%= @user.microposts.count %>)</h3>
      <hr>
      <ol class="list-group">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts, previous_label: '&laquo;', next_label: '&raquo;', list_classes: %w(pagination justify-content-center) %>
    <% end %>
  </aside>
</div>