<li id="micropost-<%= micropost.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="float-left mt-2">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  </div>
  <div class="float-left">
    <p class="mb-1"><%= micropost.content %></p>
    <small class="user">by <%= link_to micropost.user.name, micropost.user, class: 'badge badge-info' %></small>
    <small class="ml-5">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</small>
    <% if current_user?(micropost.user) %>
      <%= link_to  "Delete", micropost, method: :delete, 
                                                data: {confirm: 'Are you sure?'},
                                                class: "badge badge-danger ml-3" %>
    <% end %>
  </div>
</li>
